.reveal {
 font-size: 220%;
}
.reveal blockquote {
 background-color: rgba(0, 0, 0, 0.2);
}
.reveal section img {
 margin: 0;
 border: none;
 box-shadow: none;
 vertical-align: middle;
}
.reveal section:nth-child(5) img {
 height: 30vh;
}
.reveal section:nth-child(8) img {
 height: 15vh;
 border: none;
 margin: 0;
}
.reveal .slide-number {
 font-size: 20px !important;
}

code:not(.hljs) {
 background: #3f3f3f;
 color: #dcdcdc;
 padding: 0.1em 0.2em;
 font-size: 0.8em;
}

